body
{ 
    font-family: "Bricolage Grotesque", sans-serif  !important;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}
/* --------------NAVBAR---------------------- */
.navbar{
    background-color: #b1d69f;
    height: 5rem;
}
.nav-link{
    color: #1F2937 !important;
}

.fa-people-roof{
    font-size: 2rem;
    color: #1F4D3A;
}

/* --------------FOOTER---------------------- */
.f-info{
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    height: 5.5rem;
    text-align: center;
}
.f-info-socials, .f-info-links, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.f-info-links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.375);
    margin: 0 0.9em;
}
.f-info-links a:hover{
    text-decoration: underline;
    color:rgba(0, 0, 0, 0.667);
}

.f-info-socials i{
    font-size: 1.2rem;
    margin: 0 0.5rem;
}
/* ---------CARDS------------------ */
.listing-card{
    border:none !important;
    margin-bottom: 2rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    height: 20rem;
    object-fit: cover;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* new */
.add-btn{
    background-color: #1F4D3A !important;
    border: none;
}
/* show files */
.show-img{
    height: 35vh;
    object-fit: cover;
}
.btns{
    display:flex;
}
/* edit btns */
.edit-btn{
    background-color: #1F4D3A !important;
    border: none;
}
.del-btn{
    padding: 0.5rem 1.7rem !important;
}

#map{
    height: 400px;
    width: 80vh;
}